<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Produto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Adicionar Produto</h1>
    </header>
    <form th:action="@{/produtos}" method="post" class="formulario">
        <div>
            <label for="nome">Nome:</label>
            <input id="nome" type="text" name="nome" autocomplete="off">
        </div>
        <div>
            <label for="preco">Preço:</label>
            <input id="preco" type="number" step="0.01" name="preco" autocomplete="off">
        </div>
        <div>
            <button type="submit">Adicionar Produto</button>
        </div>
    </form>
</body>
</html>